body{
  background: linear-gradient(to bottom right, #0B0B3B, aqua);
}

#mifoto{
  top:40px;
  right: 30px;
  width: 300px;
  height: 340px;
}

.hobbie{
  top:30px;
  width: 200px;
  height: 200px;
}

#nombre{
  position: relative;
  color: white;
  bottom: 310px;
left: 465px;
}

#dance{
  position: relative;
  left:210px;
  bottom:204px;
}

#contenedor{
  position: absolute;
  float:right;
  left:408px;
  bottom:120px;
}
#hobbiesT{
  position: relative;
  left: 150px;
  color: white;

}
