body{
	background-color: black;
}

.contorno{
	padding: 20px;
	border: 2px solid red;
	height: 
}

.titulo{
	color:white;
}

#yessi{
	width: 300px;
	height: 300px;
	position:absolute;
	margin: 20px;
	top:150px;
	left: 200px;
	display: inline;
}

.texto{
	width: 500px;
	display:inline;
	color: white;
	position:absolute;
	top: 300px;
	left: 550px
}


